#Download Java

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

# Install Apache Spark 3.1.1 with Hadoop 2.7
### Download Apache Spark 3.1.1 with Hadoop 2.7

In [ ]:
!wget https://www-us.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop2.7.tgz

--2021-03-29 06:24:44--  https://www-us.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop2.7.tgz
Resolving www-us.apache.org (www-us.apache.org)... 207.244.88.140
Connecting to www-us.apache.org (www-us.apache.org)|207.244.88.140|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://downloads.apache.org/spark/spark-3.1.1/spark-3.1.1-bin-hadoop2.7.tgz [following]
--2021-03-29 06:24:45--  https://downloads.apache.org/spark/spark-3.1.1/spark-3.1.1-bin-hadoop2.7.tgz
Resolving downloads.apache.org (downloads.apache.org)... 88.99.95.219, 2a01:4f8:10a:201a::2
Connecting to downloads.apache.org (downloads.apache.org)|88.99.95.219|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 224374704 (214M) [application/x-gzip]
Saving to: ‘spark-3.1.1-bin-hadoop2.7.tgz’

spark-3.1.1-bin-had 100%[===================>] 213.98M  10.5MB/s    in 22s

2021-03-29 06:25:08 (9.61 MB/s) - ‘spark-3.1.1-bin-hadoop2.7.tgz’ saved [224374704/224374704]

### unzip spark-3.1.1-bin-hadoop2.7.tgz

In [ ]:
!tar xf spark-3.1.1-bin-hadoop2.7.tgz

# Install findspark to make spark importable

In [ ]:
!pip install -q findspark

# Enable PySpark on colab environment

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop2.7"

In [ ]:
import findspark
findspark.init()

In [ ]:
findspark.find() # find spark installation location

'/content/spark-3.1.1-bin-hadoop2.7'

In [ ]:
from pyspark import SparkContext, SparkConf

conf = SparkConf().setAppName("testing").setMaster("local[*]").set("spark.ui.port", "4050")
sc = SparkContext(conf = conf)

In [ ]:
sc

# Working Zone

In [ ]:
# get data
!gdown --id 1RDIXoYPK-y-AtWKnu7_QtuBOLvjW4Kfy
!gdown --id 1PmZCJJuVKUsRM9zgYGCFDFwXvpWV9Rwz
!gdown --id 1KzLAA6mipW0XQiCDxLNE73SK8c0QUMhK
!gdown --id 1wfaEYqf4XajbYLu7jO22oatpVLKU0sZd
!gdown --id 1hWiMh23dpj7FGaJIabhJdG14U2GnPnWa

Downloading...
From: https://drive.google.com/uc?id=1RDIXoYPK-y-AtWKnu7_QtuBOLvjW4Kfy
To: /content/spark.log
100% 194k/194k [00:00<00:00, 28.4MB/s]
Downloading...
From: https://drive.google.com/uc?id=1PmZCJJuVKUsRM9zgYGCFDFwXvpWV9Rwz
To: /content/Branch1_GovDataset.csv
100% 33.5k/33.5k [00:00<00:00, 14.8MB/s]
Downloading...
From: https://drive.google.com/uc?id=1KzLAA6mipW0XQiCDxLNE73SK8c0QUMhK
To: /content/Branch1_HouseDataset.csv
100% 16.9k/16.9k [00:00<00:00, 15.5MB/s]
Downloading...
From: https://drive.google.com/uc?id=1wfaEYqf4XajbYLu7jO22oatpVLKU0sZd
To: /content/Branch2_GovDataset.csv
100% 15.9k/15.9k [00:00<00:00, 13.8MB/s]
Downloading...
From: https://drive.google.com/uc?id=1hWiMh23dpj7FGaJIabhJdG14U2GnPnWa
To: /content/Branch2_HouseDataset.csv
100% 8.29k/8.29k [00:00<00:00, 13.3MB/s]

In [ ]:
spark_log = sc.textFile('/content/spark.log')
type(spark_log)

pyspark.rdd.RDD

In [ ]:
spark_log.take(5)

['17/06/09 20:10:40 INFO executor.CoarseGrainedExecutorBackend: Registered signal handlers for [TERM, HUP, INT]',
 '17/06/09 20:10:40 INFO spark.SecurityManager: Changing view acls to: yarn,curi',
 '17/06/09 20:10:40 INFO spark.SecurityManager: Changing modify acls to: yarn,curi',
 '17/06/09 20:10:40 INFO spark.SecurityManager: SecurityManager: authentication disabled; ui acls disabled; users with view permissions: Set(yarn, curi); users with modify permissions: Set(yarn, curi)',
 '17/06/09 20:10:41 INFO spark.SecurityManager: Changing view acls to: yarn,curi']

In [ ]:
time_log_mapped = spark_log.map(lambda x: (x.split(' ')[1], 1))
time_log_mapped.take(5)

[('20:10:40', 1),
 ('20:10:40', 1),
 ('20:10:40', 1),
 ('20:10:40', 1),
 ('20:10:41', 1)]

In [ ]:
'20:11:08' > '20:10:40'

True

In [ ]:
time_log_count = time_log_mapped.reduceByKey(lambda a, b: a + b).sortBy(lambda x: x[1])
time_log_count.collect()

[('20:10:40', 4),
 ('20:10:47', 5),
 ('20:10:42', 7),
 ('20:10:41', 9),
 ('20:10:45', 13),
 ('20:10:46', 15),
 ('20:10:59', 25),
 ('20:10:48', 40),
 ('20:10:52', 58),
 ('20:11:07', 68),
 ('20:11:11', 72),
 ('20:10:57', 109),
 ('20:10:58', 114),
 ('20:10:54', 160),
 ('20:10:53', 165),
 ('20:11:09', 179),
 ('20:10:56', 185),
 ('20:10:55', 189),
 ('20:11:10', 286),
 ('20:11:08', 297)]

In [ ]:
time_log_range = time_log_count.map(lambda x: x[1] if '20:10:50'>x[0]>'20:10:40' else 0).sum()
print('The number of logs between 20:10:40 and 20:10:40 is', time_log_range)

The number of logs between 20:10:40 and 20:10:40 is 89

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Spark Dataframe") \
    .config("spark.some.config.option") \
    .getOrCreate()

df_house = spark.read.csv("/content/Branch?_HouseDataset.csv",header=True,sep=",")
df_gov = spark.read.csv("/content/Branch?_GovDataset.csv",header=True,sep=",")
df_house.show()
df_gov.show()

+---+-----------+--------+--------+
| Id|TotalBsmtSF|1stFlrSF|2ndFlrSF|
+---+-----------+--------+--------+
|  1|        856|     856|     854|
|  2|       1262|    1262|       0|
|  3|        920|     920|     866|
|  4|        756|     961|     756|
|  5|       1145|    1145|    1053|
|  6|        796|     796|     566|
|  7|       1686|    1694|       0|
|  8|       1107|    1107|     983|
|  9|        952|    1022|     752|
| 10|        991|    1077|       0|
| 11|       1040|    1040|       0|
| 12|       1175|    1182|    1142|
| 13|        912|     912|       0|
| 14|       1494|    1494|       0|
| 15|       1253|    1253|       0|
| 16|        832|     854|       0|
| 17|       1004|    1004|       0|
| 18|          0|    1296|       0|
| 19|       1114|    1114|       0|
| 20|       1029|    1339|       0|
+---+-----------+--------+--------+
only showing top 20 rows

+---+-----------+--------+---------+-------------+---------+-----+
| Id|LotFrontage|MSZoning|YearBuilt|SaleCondition|SalePrice|Label|
+---+-----------+--------+---------+-------------+---------+-----+
|  1|       65.0|      RL|     2003|       Normal|   208500|    Y|
|  2|       80.0|      RL|     1976|       Normal|   181500|    Y|
|  3|       68.0|      RL|     2001|       Normal|   223500|    Y|
|  4|       60.0|      RL|     1915|      Abnorml|   140000|    Y|
|  5|       84.0|      RL|     2000|       Normal|   250000|    Y|
|  6|       85.0|      RL|     1993|       Normal|   143000|    Y|
|  7|       75.0|      RL|     2004|       Normal|   307000|    Y|
|  8|       null|      RL|     1973|       Normal|   200000|    Y|
|  9|       51.0|      RM|     1931|      Abnorml|   129900|    Y|
| 10|       50.0|      RL|     1939|       Normal|   118000|    Y|
| 11|       70.0|      RL|     1965|       Normal|   129500|    Y|
| 12|       85.0|      RL|     2005|      Partial|   345000|    Y|
| 13|       null|      RL|     1962|       Normal|   144000|    Y|
| 14|       91.0|      RL|     2006|      Partial|   279500|    Y|
| 15|       null|      RL|     1960|       Normal|   157000|    Y|
| 16|       51.0|      RM|     1929|       Normal|   132000|    Y|
| 17|       null|      RL|     1970|       Normal|   149000|    Y|
| 18|       72.0|      RL|     1967|       Normal|    90000|    Y|
| 19|       66.0|      RL|     2004|       Normal|   159000|    Y|
| 20|       70.0|      RL|     1958|      Abnorml|   139000|    Y|
+---+-----------+--------+---------+-------------+---------+-----+
only showing top 20 rows

In [ ]:
df = df_gov.join(df_house, ['Id'], how='full')
df = df.withColumn("Id",df.Id.cast('int'))
df = df.orderBy('Id') 
df.show()

+---+-----------+--------+---------+-------------+---------+-----+-----------+--------+--------+
| Id|LotFrontage|MSZoning|YearBuilt|SaleCondition|SalePrice|Label|TotalBsmtSF|1stFlrSF|2ndFlrSF|
+---+-----------+--------+---------+-------------+---------+-----+-----------+--------+--------+
|  1|       65.0|      RL|     2003|       Normal|   208500|    Y|        856|     856|     854|
|  2|       80.0|      RL|     1976|       Normal|   181500|    Y|       1262|    1262|       0|
|  3|       68.0|      RL|     2001|       Normal|   223500|    Y|        920|     920|     866|
|  4|       60.0|      RL|     1915|      Abnorml|   140000|    Y|        756|     961|     756|
|  5|       84.0|      RL|     2000|       Normal|   250000|    Y|       1145|    1145|    1053|
|  6|       85.0|      RL|     1993|       Normal|   143000|    Y|        796|     796|     566|
|  7|       75.0|      RL|     2004|       Normal|   307000|    Y|       1686|    1694|       0|
|  8|       null|      RL|     1973|       Normal|   200000|    Y|       1107|    1107|     983|
|  9|       51.0|      RM|     1931|      Abnorml|   129900|    Y|        952|    1022|     752|
| 10|       50.0|      RL|     1939|       Normal|   118000|    Y|        991|    1077|       0|
| 11|       70.0|      RL|     1965|       Normal|   129500|    Y|       1040|    1040|       0|
| 12|       85.0|      RL|     2005|      Partial|   345000|    Y|       1175|    1182|    1142|
| 13|       null|      RL|     1962|       Normal|   144000|    Y|        912|     912|       0|
| 14|       91.0|      RL|     2006|      Partial|   279500|    Y|       1494|    1494|       0|
| 15|       null|      RL|     1960|       Normal|   157000|    Y|       1253|    1253|       0|
| 16|       51.0|      RM|     1929|       Normal|   132000|    Y|        832|     854|       0|
| 17|       null|      RL|     1970|       Normal|   149000|    Y|       1004|    1004|       0|
| 18|       72.0|      RL|     1967|       Normal|    90000|    Y|          0|    1296|       0|
| 19|       66.0|      RL|     2004|       Normal|   159000|    Y|       1114|    1114|       0|
| 20|       70.0|      RL|     1958|      Abnorml|   139000|    Y|       1029|    1339|       0|
+---+-----------+--------+---------+-------------+---------+-----+-----------+--------+--------+
only showing top 20 rows

In [ ]:
house_count = df.where('1stFlrSF > 0 and 2ndFlrSF == 0').count()
print("The number of house that has only one floor is", house_count)

The number of house that has only one floor is 829

In [ ]:
ppsf_df = df.withColumn('TotalArea', (df["1stFlrSF"] + df["2ndFlrSF"]).cast('int'))
ppsf_df = ppsf_df.withColumn('PricePerSF', (ppsf_df["SalePrice"] / ppsf_df["TotalArea"])) 
ppsf_df.toPandas()

        Id LotFrontage MSZoning  ... 2ndFlrSF TotalArea  PricePerSF
0        1        65.0       RL  ...      854      1710  121.929825
1        2        80.0       RL  ...        0      1262  143.819334
2        3        68.0       RL  ...      866      1786  125.139978
3        4        60.0       RL  ...      756      1717   81.537566
4        5        84.0       RL  ...     1053      2198  113.739763
...    ...         ...      ...  ...      ...       ...         ...
1455  1456        62.0       RL  ...      694      1647  106.253795
1456  1457        85.0       RL  ...        0      2073  101.302460
1457  1458        66.0       RL  ...     1152      2340  113.888889
1458  1459        68.0       RL  ...        0      1078  131.841373
1459  1460        75.0       RL  ...        0      1256  117.436306

[1460 rows x 12 columns]

# Spark UI

In [ ]:
!wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
!unzip ngrok-stable-linux-amd64.zip

{"tunnels":[{"name":"command_line","uri":"/api/tunnels/command_line","public_url":"https://11bb03c46cc8.ngrok.io","proto":"https","config":{"addr":"http://localhost:4050","inspect":true},"metrics":{"conns":{"count":0,"gauge":0,"rate1":0,"rate5":0,"rate15":0,"p50":0,"p90":0,"p95":0,"p99":0},"http":{"count":0,"rate1":0,"rate5":0,"rate15":0,"p50":0,"p90":0,"p95":0,"p99":0}}},{"name":"command_line (http)","uri":"/api/tunnels/command_line%20%28http%29","public_url":"http://11bb03c46cc8.ngrok.io","proto":"http","config":{"addr":"http://localhost:4050","inspect":true},"metrics":{"conns":{"count":0,"gauge":0,"rate1":0,"rate5":0,"rate15":0,"p50":0,"p90":0,"p95":0,"p99":0},"http":{"count":0,"rate1":0,"rate5":0,"rate15":0,"p50":0,"p90":0,"p95":0,"p99":0}}}],"uri":"/api/tunnels"}

In [ ]:
get_ipython().system_raw('./ngrok http 4050 &')
!curl -s http://localhost:4040/api/tunnels

# Stop Spark Context

In [ ]:
# sc.stop()